header {
    height: calc(100vh - 60px);
}

.header-left {
    animation: headerLeft linear;
    animation-timeline: scroll();
}

.header-right {
    animation: headerRight linear;
    animation-timeline: scroll();
}

.horizontal-line {
    display: inline-block;
    background: rgb(212 212 216);
    width: 10px;
    height: 3rem;
    animation: blink 1s infinite;
}

@keyframes blink {
    0% {
        opacity: 1
    }
    49% {
        opacity: 1
    }
    50% {
        opacity: 0
    }
    99% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@keyframes headerLeft {
    0% {
        transform: translateX(none) scale(100%);
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateX(-100px) scale(250%);
    }
}

@keyframes headerRight {
    0% {
        transform: translateX(none) scale(100%);
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
    100% {
        transform: translateX(200px) scale(250%);
    }
}