.service {
    overflow: hidden;
    background: rgb(195,195,195);
    position: relative;
}

.service img {
    max-height: 150px;
    width: auto;
}

.service.left {
    background: linear-gradient(90deg, rgba(107,114,128,0.2) 0%, rgba(254,255,255,0) 80%);
}

.service.right {
    background: linear-gradient(90deg, rgba(254,255,255,0) 20%, rgba(107,114,128,0.2) 100%);
}

@keyframes animLeft {
    to {
        filter: blur(0);
        left: 0;
    }
}