.App {
    background-image: url('../public/bg_dark.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: scrolling linear;
    animation-timeline: scroll();
}

@keyframes scrolling {
    from {
        background-position: center top;
    } to {
        background-position: center bottom;
    }
}