.App {
    background-image: url('../public/bg_dark.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: scrolling linear;
    animation-timeline: scroll();
}

section {
    padding: 100px 0;
    animation: unblur ease-out;
    animation-timeline: view();
    animation-range: entry entry 25vh;
}

@keyframes unblur {
    from {
        transform: scale(50%);
        filter: blur(10px)
    }
    to {
        transform: scale(100%);
        filter: blur(0)
    }
}

@keyframes scrolling {
    from {
        background-position: center top;
    } to {
        background-position: center bottom;
    }
}